
body{
    margin: 0;
    padding: 0;
    background: url(1310924.png) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
  
}
.titulo{
    margin-top: 1cm;
    color: black;
    text-align: center;
    background-color: dodgerblue;  
    box-shadow: 200px;  
    border: 1px solid black;


}
.desc{
    margin-top: 3cm;
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 0;
    display: inline-block;
    width: 50%;
}
#navbarDropdown{
    margin-top: 3cm;
    margin-left: 300px;
    text-align: center;
    background-size: 30px;
    color:black;
    background-color: dodgerblue;
    font-size: 20px;
    display: inline-block;
    border: 1px solid black;
    


}
.textf{
    display: inline-block;
    box-sizing: border-box;
    width: 400px;
    background-color: dodgerblue;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 0;
    padding: 10px;
    font-size: 20px;
}
